<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Notepad' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>96d08d83-dfbc-46b2-bca5-43f1761aa313</InstrumentationKey>
</ApplicationInsights>